<!DOCTYPE html>
<html>
<head>
    <title>Список всех цехов</title>
    <link rel="icon" href="/pictures/Комфорт.ico" type="image/x-icon">
    <img src="/pictures/Комфорт.png" style="height:200px;width:auto">
    <style>
                .card {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        img {
            display: block;
            margin: 0 auto;
            height: 200px;
            width: auto;
        }

        h1 {
            text-align: center;
        }

    </style>
</head>
<body>
    <h1>Список всех цехов</h1>
    <button onclick="window.location.assign('/')">назад к товарам</button>
    
    <div class = "card" >
        {% if data %}
            {% for w in data %}
            <div style="border:1px solid black; margin:10px; padding:10px;">
                <p><strong>название цеха:</strong> {{ w.workshop_name }}</p>
                <p><strong>тип цеха:</strong> {{ w.workshop_type }}</p>
                <p><strong>количество работников:</strong> {{ w.population }}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>цеха не найдены</p>
        {% endif %}
    </div>
</body>
</html>