<!DOCTYPE html>
<html>
<head>
    <title>список цехов</title>
    <link rel="icon" href="/pictures/Комфорт.ico" type="image/x-icon">
</head>
<body>
    <img src="/pictures/Комфорт.png" style="height:200px;width:auto">
    <h1>список цехов</h1>
    <button onclick="window.location.assign('/')">назад к товарам</button>
    
    <div>
        {% if data %}
            {% for w in data %}
            <div style="border:2px solid black;margin:2%;padding:10px">
                <p>название цеха: {{w.workshop_name or '-'}}</p>
                <p>часов: {{ "%.1f"|format(w.make_time|float) }} ч.</p>
                <p>количество работников: {{w.population or '-'}}</p>
            </div>
            {% endfor %}
        {% else %}
            <p>цехи не найдены</p>
        {% endif %}
    </div>
</body>
</html>